@model IEnumerable<OnlineStore.Common.DTOs.ShoppingCartDto>
@inject OnlineStore.Common.DTOs.CurrentUserDto CurrentUser

<link rel="stylesheet" href="~/css/ShoppingCart/ShoppingCart.css" />
<h1> Order Confirmation</h1>

<table>
    <tr>

        <th>Product Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Measure</th>
        <th>Subtotal</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="item-@item.ProductId-@item.ProductSize">

            <td><a href="@Url.Action("ProductDetails", "Product", new { id = item.ProductId })" style="text-decoration: none ; color: black">@item.ProductName</a></td>
            <td>@(item.ProductPrice - (item.ProductPrice * item.ProductDiscount / 100)) USD </td>
            <td>
                @item.Quantity
            </td>
            <td>@item.ProductSize</td>
            <td>@((item.ProductPrice - (item.ProductPrice * item.ProductDiscount / 100)) * item.Quantity) USD</td>

        </tr>

    }
</table>

<div class="total-price">
    <h3>Total Price: @Model.Sum(x => (x.ProductPrice - (x.ProductPrice * x.ProductDiscount / 100)) * x.Quantity)</h3>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-dark">Back to Home</a>
