@model OnlineStore.BusinessLogic.Implementation.Account.Models.ProfileModel

@inject OnlineStore.Common.DTOs.CurrentUserDto CurrentUser

@{
    ViewData["Title"] = "Profile Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    <div>
        <p><strong>Username:</strong> @Model.UserName</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Country:</strong> @Model.Country</p>
    </div>

    <div>
        <a href="@Url.Action("Orders", "UserAccount")" class="btn btn-secondary">Orders</a>
        <a href="@Url.Action("EditProfile", "UserAccount", new { id = CurrentUser.Id })" class="btn btn-success">Edit Profile</a>
        <a  href="@Url.Action("DeleteAccount", "UserAccount")" class="btn btn-danger"> Delete Account </a>
    </div>
</body>
</html>
